/* Dark Mode */
.dark-mode {
  background-color: #1a1a1a !important;
  color: #f8f9fa !important;
}

/* Adjust Navbar for Dark Mode */
.dark-mode .navbar {
  background-color: #222 !important;
}

.dark-mode .navbar a {
  color: #f8f9fa !important;
}

.dark-mode .feature-card {
  background: #333;
  color: #fff;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}
